.card {
    width: 200px;
    min-height: 64px;
    border-radius: 8px;
    border: 1px solid black;
    text-align: center;
    white-space: normal;
    overflow-wrap: break-word;
    padding: 8px;
    cursor: grab;
}

.isDragged {
    opacity: 0.5;
}

.placeholderCard {
    width: 200px;
    min-height: 64px;
    border-radius: 8px;
    padding: 8px;
    border: 1px black;
    text-align: center;
    border: 1px solid black;
    opacity: 0.25;
}

.column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px 8px 40px 8px;
    min-width: 216px;
}

.columnHeader {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

.board {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 36px;
}

.addColBtn {
    position: absolute;
    bottom: 32px;
    right: 32px;
}

.addForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

dialog {
    border: 1px solid black;
    border-radius: 8px;
    padding: 12px;
}